In [17]:
import requests
import pandas as pd

# URL of the CSV file
url = 'https://davidmegginson.github.io/ourairports-data/airport-comments.csv'

# Send a GET request to the URL and download the file
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Save the downloaded file
    with open('airport-comments.csv', 'wb') as file:
        file.write(response.content)
    print("File downloaded successfully.")

    # Read the downloaded CSV file into a DataFrame
    df = pd.read_csv('airport-comments.csv')

    # Now you can perform any data manipulations or analysis on the DataFrame
    # For example, print the first few rows
    print(df.head())
else:
    print("Failed to download the file.")

File downloaded successfully.
       id   "threadRef"   "airportRef"  "airportIdent"               "date"  \
0  509553       82125.0           3794            KPUB  2023-06-14 18:02:30
1  509510       82124.0          20236            KK02  2023-06-11 08:37:03
2  509509       82123.0          20355            KLLU  2023-06-11 08:31:30
3  509508       82122.0         509507         AU-0610  2023-06-11 07:29:52
4  509505       82121.0         509504         AU-0609  2023-06-11 06:25:33

   "memberNickname"                        "subject"  \
0           adeshpa     Busy military training field
1           AlanM70                     Nice airport
2           AlanM70  Nice Facility with Courtesy Car
3            adidas             MISSING FROM WEBSITE
4            adidas             MISSING FROM WEBSITE

                                              "body"
0  Clean and nice FBO (Freeman) with a little res...
1  FBO was open Operator was friendly and helpful...
2  Nice unmanned FBO with showers if needed and a...
3                               MISSING FROM WEBSITE
4                               MISSING FROM WEBSITE

In [2]:
df.shape

(15193, 8)

In [3]:
df.head()

,id,"""threadRef""","""airportRef""","""airportIdent""","""date""","""memberNickname""","""subject""","""body"""
0,509553,82125.0,3794,KPUB,2023-06-14 18:02:30,adeshpa,Busy military training field,Clean and nice FBO (Freeman) with a little res...
1,509510,82124.0,20236,KK02,2023-06-11 08:37:03,AlanM70,Nice airport,FBO was open Operator was friendly and helpful...
2,509509,82123.0,20355,KLLU,2023-06-11 08:31:30,AlanM70,Nice Facility with Courtesy Car,Nice unmanned FBO with showers if needed and a...
3,509508,82122.0,509507,AU-0610,2023-06-11 07:29:52,adidas,MISSING FROM WEBSITE,MISSING FROM WEBSITE
4,509505,82121.0,509504,AU-0609,2023-06-11 06:25:33,adidas,MISSING FROM WEBSITE,MISSING FROM WEBSITE

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15193 entries, 0 to 15192
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15193 non-null  int64
 1    "threadRef"       15122 non-null  float64
 2    "airportRef"      15193 non-null  int64
 3    "airportIdent"    15193 non-null  object
 4    "date"            15193 non-null  object
 5    "memberNickname"  6908 non-null   object
 6    "subject"         15191 non-null  object
 7    "body"            15191 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 949.7+ KB

In [18]:
df.columns

Index(['id', ' "threadRef"', ' "airportRef"', ' "airportIdent"', ' "date"',
       ' "memberNickname"', ' "subject"', ' "body"'],
      dtype='object')

In [19]:
df = df.rename(columns={' "memberNickname"': "member_nickname"})
df = df.rename(columns={' "airportIdent"': "airport_ident"})
df = df.rename(columns={' "subject"': "subject"})
df = df.rename(columns={' "body"': "body"})

In [20]:
# drop vaariables that are not useful

df = df.drop("member_nickname", axis=1)
df = df.drop("id", axis=1)

In [21]:
df.columns

Index([' "threadRef"', ' "airportRef"', 'airport_ident', ' "date"', 'subject',
       'body'],
      dtype='object')

In [22]:
df.head(3)

,"""threadRef""","""airportRef""",airport_ident,"""date""",subject,body
0,82125.0,3794,KPUB,2023-06-14 18:02:30,Busy military training field,Clean and nice FBO (Freeman) with a little res...
1,82124.0,20236,KK02,2023-06-11 08:37:03,Nice airport,FBO was open Operator was friendly and helpful...
2,82123.0,20355,KLLU,2023-06-11 08:31:30,Nice Facility with Courtesy Car,Nice unmanned FBO with showers if needed and a...

In [23]:
# Get the number of unique values in variable_2.
number_of_categories = df["airport_ident"].nunique()

# Print the number of categories to the console.
print(f"There are {number_of_categories} categories in airportIdent.")

There are 6392 categories in airportIdent.