In [ ]:
# airports comments
# NLP

In [ ]:
import requests
import pandas as pd

# URL of the CSV file
url = 'https://davidmegginson.github.io/ourairports-data/airport-comments.csv'

# Send a GET request to the URL and download the file
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Save the downloaded file
    with open('airport-comments.csv', 'wb') as file:
        file.write(response.content)
    print("File downloaded successfully.")

    # Read the downloaded CSV file into a DataFrame
    df = pd.read_csv('airport-comments.csv')

    # Now you can perform any data manipulations or analysis on the DataFrame
    # For example, print the first few rows
    print(df.head())
else:
    print("Failed to download the file.")

File downloaded successfully.
       id   "threadRef"   "airportRef"  "airportIdent"               "date"  \
0  509553       82125.0           3794            KPUB  2023-06-14 18:02:30
1  509510       82124.0          20236            KK02  2023-06-11 08:37:03
2  509509       82123.0          20355            KLLU  2023-06-11 08:31:30
3  509508       82122.0         509507         AU-0610  2023-06-11 07:29:52
4  509505       82121.0         509504         AU-0609  2023-06-11 06:25:33

   "memberNickname"                        "subject"  \
0           adeshpa     Busy military training field
1           AlanM70                     Nice airport
2           AlanM70  Nice Facility with Courtesy Car
3            adidas             MISSING FROM WEBSITE
4            adidas             MISSING FROM WEBSITE

                                              "body"
0  Clean and nice FBO (Freeman) with a little res...
1  FBO was open Operator was friendly and helpful...
2  Nice unmanned FBO with showers if needed and a...
3                               MISSING FROM WEBSITE
4                               MISSING FROM WEBSITE

In [ ]:
df.head()

,id,"""threadRef""","""airportRef""","""airportIdent""","""date""","""memberNickname""","""subject""","""body"""
0,509553,82125.0,3794,KPUB,2023-06-14 18:02:30,adeshpa,Busy military training field,Clean and nice FBO (Freeman) with a little res...
1,509510,82124.0,20236,KK02,2023-06-11 08:37:03,AlanM70,Nice airport,FBO was open Operator was friendly and helpful...
2,509509,82123.0,20355,KLLU,2023-06-11 08:31:30,AlanM70,Nice Facility with Courtesy Car,Nice unmanned FBO with showers if needed and a...
3,509508,82122.0,509507,AU-0610,2023-06-11 07:29:52,adidas,MISSING FROM WEBSITE,MISSING FROM WEBSITE
4,509505,82121.0,509504,AU-0609,2023-06-11 06:25:33,adidas,MISSING FROM WEBSITE,MISSING FROM WEBSITE

In [ ]:
df.columns

Index(['id', ' "threadRef"', ' "airportRef"', ' "airportIdent"', ' "date"',
       ' "memberNickname"', ' "subject"', ' "body"'],
      dtype='object')

Data Pre-Processing

In [ ]:
# rename variable for easy identification

df = df.rename(columns={' "memberNickname"': "member_nickname"})
df = df.rename(columns={' "airportIdent"': "airport_ident"})
df = df.rename(columns={' "subject"': "subject"})
df = df.rename(columns={' "body"': "body"}) # or comments

In [ ]:
# drop variables that are not useful

df = df.drop("member_nickname", axis=1)
df = df.drop("id", axis=1)

In [ ]:
# after data pre-processing
df.columns

Index([' "threadRef"', ' "airportRef"', 'airport_ident', ' "date"', 'subject',
       'body'],
      dtype='object')

In [ ]:
df.head(3)

,"""threadRef""","""airportRef""",airport_ident,"""date""",subject,body
0,82125.0,3794,KPUB,2023-06-14 18:02:30,Busy military training field,Clean and nice FBO (Freeman) with a little res...
1,82124.0,20236,KK02,2023-06-11 08:37:03,Nice airport,FBO was open Operator was friendly and helpful...
2,82123.0,20355,KLLU,2023-06-11 08:31:30,Nice Facility with Courtesy Car,Nice unmanned FBO with showers if needed and a...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15193 entries, 0 to 15192
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0    "threadRef"   15122 non-null  float64
 1    "airportRef"  15193 non-null  int64
 2   airport_ident  15193 non-null  object
 3    "date"        15193 non-null  object
 4   subject        15191 non-null  object
 5   body           15191 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 712.3+ KB

In [ ]:
# Check how many categories are there under 'airport_indent' variable

number_of_categories = df["airport_ident"].nunique()

# Print the number of categories to the console.
print(f"There are {number_of_categories} categories in airportIdent.")

There are 6392 categories in airportIdent.

NLTK - NLP (Sentiment Analysis)

In [ ]:
!pip install nltk
import nltk

nltk.download('vader_lexicon')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
import pandas as pd
from nltk.sentiment import SentimentIntensityAnalyzer

# Read the CSV file into a DataFrame
# df = pd.read_csv('airport-comments.csv')

# Initialize the sentiment analyzer
sid = SentimentIntensityAnalyzer()

#df['sentiment_score'] = df['body'].fillna('').apply(lambda comment: sid.polarity_scores(comment)['compound'])

# Create a new column to store the sentiment scores
df['sentiment_score'] = df['body'].fillna('').apply(lambda comment: sid.polarity_scores(comment)['compound'])

# Classify the sentiment based on the sentiment score
df['sentiment'] = df['sentiment_score'].apply(lambda score: 'Positive' if score >= 0 else 'Negative')

# Print the comments and their corresponding sentiment
for index, row in df.iterrows():
    print(f"Comment: {row['body']}")
    print(f"Sentiment: {row['sentiment']}")
    print()

# You can also save the updated DataFrame with sentiment information to a new CSV file if desired
df.to_csv('airport-comments-with-sentiment.csv', index=False)

In [ ]:
# print latest dataframe with new variables 'sentiment_score' and 'sentiment'
df.head(6)

,"""threadRef""","""airportRef""",airport_ident,"""date""",subject,body,sentiment_score,sentiment
0,82125.0,3794,KPUB,2023-06-14 18:02:30,Busy military training field,Clean and nice FBO (Freeman) with a little res...,0.3284,Positive
1,82124.0,20236,KK02,2023-06-11 08:37:03,Nice airport,FBO was open Operator was friendly and helpful...,0.7184,Positive
2,82123.0,20355,KLLU,2023-06-11 08:31:30,Nice Facility with Courtesy Car,Nice unmanned FBO with showers if needed and a...,0.6486,Positive
3,82122.0,509507,AU-0610,2023-06-11 07:29:52,MISSING FROM WEBSITE,MISSING FROM WEBSITE,-0.2960,Negative
4,82121.0,509504,AU-0609,2023-06-11 06:25:33,MISSING FROM WEBSITE,MISSING FROM WEBSITE,-0.2960,Negative
5,82120.0,509502,AU-0608,2023-06-11 06:22:18,MISSING FROM WEBSITE,MISSING FROM WEBSITE,-0.2960,Negative

In [ ]:
# some rows, in the 'body' column or variable, it is stated as 'MISSING FROM WEBSITE', it was also classified as 'Negative' sentiment,
# which could be misleading

# Count the number of rows with 'missing from website' in the 'body' column
count = df[df['body'] == 'MISSING FROM WEBSITE'].shape[0]
print("Number of rows with 'MISSING FROM WEBSITE':", count)

Number of rows with 'MISSING FROM WEBSITE': 230

In [ ]:
# Remove rows with 'missing from website' in the 'body' column
df = df[df['body'].str.strip().str.lower() != 'missing from website']
df.head(6)

,"""threadRef""","""airportRef""",airport_ident,"""date""",subject,body,sentiment_score,sentiment
0,82125.0,3794,KPUB,2023-06-14 18:02:30,Busy military training field,Clean and nice FBO (Freeman) with a little res...,0.3284,Positive
1,82124.0,20236,KK02,2023-06-11 08:37:03,Nice airport,FBO was open Operator was friendly and helpful...,0.7184,Positive
2,82123.0,20355,KLLU,2023-06-11 08:31:30,Nice Facility with Courtesy Car,Nice unmanned FBO with showers if needed and a...,0.6486,Positive
7,82118.0,835,CEC3,2023-06-11 01:33:47,(no subject),Came here 12 days before the fire broke out\r\...,-0.9179,Negative
12,82113.0,509439,CA-0876,2023-06-07 11:13:45,Do not confuse with Smiths Falls Airport (CYSH),"The main airport for Smiths Falls is CYSH, abo...",0.0000,Positive
13,82112.0,4303,LHPR,2023-06-07 04:22:54,add IATA code,"IATA code for LHPR is QGY, see also wikipedia....",0.0000,Positive

In [ ]:
# Save the updated DataFrame to a new CSV file
df.to_csv('final-airport-comments-with-sentiment.csv', index=False)